{% extends "base.html" %}
{% load static %}
{% block page_content %}


<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Best Sexy Forever</h1>
                <p class="lead mb-5 text-white-50">We share with you the best sexy girl images from other sources</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5" style="height: 500px;">
            <h2>What We Do</h2>
            <hr>
            <p>Collect images from others source</p>
            <p>Share with you all the best sexy girl images/collection</p>

            <a class="btn btn-primary btn-lg" href="/">Back to homepage &raquo;</a>
        </div>

        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Best Sexy Forever</strong>
                <br>
            </address>
            <address>

                <abbr title="Email">Email:</abbr>
                <a href="mailto:#">bestsexyforever@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->


</div>
<!-- /.container -->


{% endblock %}